<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","align":"full","className":"kogo-editions kogo-commerce-page","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull kogo-editions kogo-commerce-page">
	<!-- wp:group {"className":"kogo-editions__intro kogo-commerce-page__intro","layout":{"type":"default"}} -->
	<div class="wp-block-group kogo-editions__intro kogo-commerce-page__intro">
		<!-- wp:post-title {"level":1,"className":"kogo-editions__title"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:separator {"className":"kogo-editions__divider"} --><hr class="wp-block-separator has-alpha-channel-opacity kogo-editions__divider"/><!-- /wp:separator -->
	<!-- wp:group {"className":"kogo-commerce-page__content","layout":{"type":"default"}} -->
	<div class="wp-block-group kogo-commerce-page__content">
		<!-- wp:woocommerce/store-notices /-->
		<!-- wp:post-content {"layout":{"type":"default"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
