<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"kogo-exhibition-single","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull kogo-exhibition-single">
	<!-- wp:shortcode -->
	[kogo_exhibition_hero]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_exhibition_idea]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_exhibition_gallery]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_exhibition_text]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_exhibition_works]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_exhibition_press]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_exhibition_bios]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_exhibition_team]
	<!-- /wp:shortcode -->

	<!-- wp:pattern {"slug":"kogo/linked-exhibitions"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
