<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"kogo-artist-single","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull kogo-artist-single">
	<!-- wp:shortcode -->
	[kogo_artist_hero]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_artist_section_nav]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_artist_essence]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_artist_gallery]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_artist_introduction]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_artist_press]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[kogo_artist_works]
	<!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
